<%- include ('./partials/header') %> <!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">About Us</h2>
			</div>
		</div>
	</div>
	</section>
    <div class="page-title">
		<div class="container">
			<div class="padding-tb-120px">
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li class="active">about</li>
				</ol>
			</div>
		</div>
	</div>
	<section id="content">
		<div class="container">
			<div class="row">
				<div class="col-lg-7">
					<div class="about_tittle">
						<p>NETWORK FOR CAPACITY BUILDING FOR NIGERIANS</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="single_about_part">
						<img src="images/organization.jpg" class="thumbnail" alt="#">
						<h4>About Organisation</h4>
						<p>NECABN supports empower Nigerians with the tools and resources they need to lead healthy, productive lives.</p>
						<p>Our believe is that all Nigerians, no matter their life circumstances, deserve the opportunity to live a healthy and productive lives. They also can be a critical, often untapped resource for every society. Our strategic investments in people within communities unlock the potential for people to change their lives and to lead change in the world around them.</p>
						<p>Our believe is that all Nigerians, no matter their life circumstances, deserve the opportunity to live a healthy and productive lives. They also can be a critical, often untapped resource for every society. Our strategic investments in people within communities unlock the potential for people to change their lives and to lead change in the world around them.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="single_about_part">
						<img src="images/objective01.jpg" class="thumbnail" alt="#">
						<h4>OUR CORE OBJECTIVES</h4>
						<p>Educate, empower and train Nigerians to participate actively in National Development.</p>
						<p>Inculcate in Nigerians National values and right attitude for sustainable development, peacefull co-existence and tolerance for one another.</p>
						<p>Undertake awareness programmes for Nigeria women so as to enable them identify fully in the affairs of the country and to attain self actualization and empowerment.</p>
						<p>Generate ideas through seminars, symposia, workshops, debates and rallies at the grassroot and among the youths towards achieving better living standard and bring out full awareness on all governmental programmes.</p>
						<p>Promote grassroot educational mobilization and to some extent provide aid to indigent students of educational institutions.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="content">

	<div class="nile-about-section">
        <div class="container">
            <!-- Title -->
            <div class="section-title margin-bottom-40px">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="icon text-main-color"><i class="fa fa-truck"></i></div>
                        <h2>Our Programs</h2>
                        <div class="des">We improve the living of Nigerians through our programs </div>
                    </div>
                </div>
            </div>
            <!-- // End Title -->

			
            <div class="row">

                <div class="col-lg-4">
                    <div class="service-icon-box">
                        <div class="icon"><img src="assets/icons/service-dark-1.png" class="thumbnail" alt=""></div>
                        <h2><a href="#" >Education</a></h2>
                        <p>Ut elit tellus, luctus nec magna mattis et, pulvinar dapibus lorem leo ultricies et vitae enim.</p>
                    </div>
                    <div class="service-icon-box">
                        <div class="icon"><img src="images/leadership01.jpg" class="thumbnail" alt=""></div>
                        <h2><a href="#">Leadership</a></h2>
                        <div class="des">Ut elit tellus, luctus nec magna mattis et, pulvinar dapibus lorem leo ultricies et vitae enim.</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="text-center sm-mb-45px">
                        <img src="assets/img/about-2.jpg" alt="" class=" border-radius-500">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service-icon-box">
                        <div class="icon"><img src="images/training01.jpg" class="thumbnail" alt=""></div>
                        <h2><a href="#">Training</a></h2>
                        <div class="des">Ut elit tellus, luctus nec magna mattis et, pulvinar dapibus lorem leo ultricies et vitae enim.</div>
                    </div>
                    <br>
                    <div class="service-icon-box">
                        <div class="icon"><img src="images/empowerment01.jpg" class="thumbnail" alt=""></div>
                        <h2><a href="#">Empowerment</a></h2>
                        <div class="des">Ut elit tellus, luctus nec magna mattis et, pulvinar dapibus lorem leo ultricies et vitae enim.</div>
                    </div>
                </div>



            </div>


            <div class="text-center margin-top-35px">
                <a href="/programs" class="nile-bottom md">Show all <i class="fa fa-arrow-right"></i> </a>
            </div>

        </div>
    </div>

</section>
	
	<%- include ('./partials/footer') %> 