<%- include ('./partials/header') %> 
<!-- end header -->
	<section id="inner-headline">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<h2 class="pageTitle">Our Programs</h2>
			</div>
		</div>
	</div>
	</section>
	<div class="page-title">
		<div class="container">
			<div class="padding-tb-120px">
				<ol class="breadcrumb">
					<li><a href="/">Home</a></li>
					<li class="active">our programs</li>
				</ol>
			</div>
		</div>
	</div>
	<section id="content">
		<div class="container content">		
        <!-- Service Blcoks -->
			
						<div class="row"> 
							<div class="col-md-12">
								<div class="about-logo">
									<h3>Our Programmes</h3>
									<p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
                                    	<p>Sed ut perspiciaatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas</p>
								</div>  
							</div>
						</div>
						 
						    <!-- Info Blcoks -->
        <!-- <div class="row">
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-bell-o"></i>
                <div class="info-blocks-in">
                    <h3>Empowerment</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-hdd-o"></i>
                <div class="info-blocks-in">
                    <h3>Education</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
            <div class="col-sm-4 info-blocks">
                <i class="icon-info-blocks fa fa-lightbulb-o"></i>
                <div class="info-blocks-in">
                    <h3>Leadership</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores quae porro consequatur aliquam, incidunt</p>
                </div>
            </div>
        </div>
        <!-- End Info Blcoks -->

       
        <!-- End Info Blcoks -->
        <section class="padding ptb-xs-40">
			<div class="container">
				<div class="row pb-30 text-center">
					<div class="col-md-12">
						<div class="section-title_home">
							<h2>Our <span>Programs</span></h2>
						</div>
					</div>
				</div>

				<div class="row">

					<div class="col-md-6 col-lg-4 mb-30">
						<div class="service_box">
							<figure>
								<img src="assets/images/service/img_1.jpg" alt="" />
							</figure>
							<h3><a href="#">Empowerment</a></h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quos aperiam ipsam modi dolor suscipit asperiores perspiciatis.
							</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 mb-xs-30">
						<div class="service_box">
							<figure>
								<img src="assets/images/service/img_2.jpg" alt="" />
							</figure>
							<h3><a href="#">Women Training</a></h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quos aperiam ipsam modi dolor suscipit asperiores perspiciatis.
							</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 mb-sm-30 mb-xs-30">
						<div class="service_box">
							<figure>
								<img src="assets/images/service/img_3.jpg" alt="" />
							</figure>
							<h3><a href="#">Skill Aquisition</a></h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quos aperiam ipsam modi dolor suscipit asperiores perspiciatis.
							</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 mb-xs-30">
						<div class="service_box">
							<figure>
								<img src="assets/images/service/img_6.jpg" alt="" />
							</figure>
							<h3><a href="#">Leadership</a></h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quos aperiam ipsam modi dolor suscipit asperiores perspiciatis.
							</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 mb-xs-30">
						<div class="service_box">
							<figure>
								<img src="assets/images/service/img_4.jpg" alt="" />
							</figure>
							<h3><a href="#">Vocational Education</a></h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quos aperiam ipsam modi dolor suscipit asperiores perspiciatis.
							</p>
						</div>
					</div>

					<div class="col-md-6 col-lg-4 mb-xs-30">
						<div class="service_box">
							<figure>
								<img src="assets/images/service/img_5.jpg" alt="" />
							</figure>
							<h3><a href="#">Enterprenuership</a></h3>
							<p>
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam quos aperiam ipsam modi dolor suscipit asperiores perspiciatis.
							</p>
						</div>
					</div>

				</div>

			</div>
		</section>
        <!-- End Service Blcoks -->
 
     

        
    </div>
    </section>
	<%- include ('./partials/footer') %> 